// =============================================================================
//
// Name:          Flag
//
// Description:   Design patern similar to the media object, however it utilises
//                `display: table[-cell];` to give us control over the vertical
//                aligment of the text and image.
//                csswizardry.com/2013/05/the-flag-object
//
// Block:         `o-flag`
//
// Elements:      `o-flag__img`
//                `o-flag__body`
//
// Modifiers:     `o-flag--tiny`
//                `o-flag--small`
//                `o-flag--large`
//                `o-flag--huge`
//                `o-flag--rev`
//                `o-flag--flush`
//                `o-flag--top`
//                `o-flag--bottom`
//                `o-flag--responsive`
//
// Markup:
//
// <div class="o-flag">
//     <div class="o-flag__img">
//         <img src="/path/to/image.png" alt="" />
//     </div>
//     <div class="o-flag__body">
//         <p>Text-like content goes here.</p>
//     </div>
// </div>

// =============================================================================





// Variables
// =============================================================================

// Predefine the variables below in order to alter and enable specific features.

$tree-flag-namesapce:            $tree-namespace !default;

$tree-flag-gutter:               $tree-base-spacing-unit !default;
$tree-flag-gutter--tiny:         quarter($tree-flag-gutter) !default;
$tree-flag-gutter--small:        halve($tree-flag-gutter) !default;
$tree-flag-gutter--large:        double($tree-flag-gutter) !default;
$tree-flag-gutter--huge:         quadruple($tree-flag-gutter) !default;

$tree-enable-flag--tiny:         false !default;
$tree-enable-flag--small:        false !default;
$tree-enable-flag--large:        false !default;
$tree-enable-flag--huge:         false !default;
$tree-enable-flag--rev:          false !default;
$tree-enable-flag--flush:        false !default;
$tree-enable-flag--top:          false !default;
$tree-enable-flag--bottom:       false !default;
$tree-enable-flag--responsive:   false !default;
$tree-flag-collapse-at:          720px !default;





// =============================================================================
// Block: `o-flag`
// =============================================================================

// 1. Allows us to control vertical alignments
// 2. Force the object to be the full width of its parent. Combined with [1],
//    this makes the object behave in a quasi-`display: block;` manner.

.#{$tree-flag-namesapce}o-flag {
    display: table; // [1]
    width: 100%; // [2]
}

    // Items within a flag object. There should only ever be one of each.
    //
    // 1. Default to aligning content to their middles.

    .#{$tree-flag-namesapce}o-flag__img,
    .#{$tree-flag-namesapce}o-flag__body {
        display: table-cell;
        vertical-align: middle; // [1]
    }

    // Element: `o-flag__img`
    // =========================================================================

     // Flag images have a space between them and the body of the object.

    .#{$tree-flag-namesapce}o-flag__img {
        padding-right: $tree-flag-gutter;

        > img {
            display: block;
            max-width: none;
        }

    }

    // Element: `o-flag__body`
    // =========================================================================

    // The container for the main content of the flag object.
    //
    // 1. Forces the `.o-flag__body` to take up all remaining space.

    .#{$tree-flag-namesapce}o-flag__body {
        width: 100%; // [1]

        &,
        > :last-child {
            margin-bottom: 0;
        }

    }





@if ($tree-enable-flag--tiny == true) {

    // Modifier: `o-flag--tiny`
    // =========================================================================

    // Tiny flags.

    .#{$tree-flag-namesapce}o-flag--tiny {

        > .#{$tree-flag-namesapce}o-flag__img {
            padding-right: $tree-flag-gutter--tiny;
        }

        @if ($tree-enable-flag--rev == true) {

            // Modifier: `o-flag--rev`
            // =================================================================

            // Tiny reversed flags.

            &.#{$tree-flag-namesapce}o-flag--rev {

                > .#{$tree-flag-namesapce}o-flag__img {
                    padding-right: 0;
                    padding-left:  $tree-flag-gutter--tiny;
                }

            }

        }

    }

}

@if ($tree-enable-flag--small == true) {

    // Modifier: `o-flag--small`
    // =========================================================================

    // Small flags.

    .#{$tree-flag-namesapce}o-flag--small {

        > .#{$tree-flag-namesapce}o-flag__img {
            padding-right: $tree-flag-gutter--small;
        }

        @if ($tree-enable-flag--rev == true) {

            // Modifier: `o-flag--rev`
            // =================================================================

            // Small reversed flags.

            &.#{$tree-flag-namesapce}o-flag--rev {

                > .#{$tree-flag-namesapce}o-flag__img {
                    padding-right: 0;
                    padding-left:  $tree-flag-gutter--small;
                }

            }

        }

    }

}

@if ($tree-enable-flag--large == true) {

    // Modifier: `o-flag--large`
    // =========================================================================

    // Large flags.

    .#{$tree-flag-namesapce}o-flag--large {

        > .#{$tree-flag-namesapce}o-flag__img {
            padding-right: $tree-flag-gutter--large;
        }

        @if ($tree-enable-flag--rev == true) {

            // Modifier: `o-flag--rev`
            // =================================================================

            // Large reversed flags.

            &.#{$tree-flag-namesapce}o-flag--rev {

                > .#{$tree-flag-namesapce}o-flag__img {
                    padding-right: 0;
                    padding-left:  $tree-flag-gutter--large;
                }

            }

        }

    }

}

@if ($tree-enable-flag--huge == true) {

    // Modifier: `o-flag--huge`
    // =========================================================================

    // Huge flags.

    .#{$tree-flag-namesapce}o-flag--huge {

        > .#{$tree-flag-namesapce}o-flag__img {
            padding-right: $tree-flag-gutter--huge;
        }

        @if ($tree-enable-flag--rev == true) {

            // Modifier: `o-flag--rev`
            // =================================================================

            // Huge reversed flags.

            &.#{$tree-flag-namesapce}o-flag--rev {

                > .#{$tree-flag-namesapce}o-flag__img {
                    padding-right: 0;
                    padding-left:  $tree-flag-gutter--huge;
                }

            }

        }

    }

}





@if ($tree-enable-flag--rev == true) {

    // Modifier: `o-flag--rev`
    // =========================================================================

    // Reversed flag objects have their image-content to the right, and
    // text-content to the left.
    //
    // 1. Swap the rendered direction of the object…
    // 2. …and reset it.
    // 3. Reassign margins to the correct sides.

    .#{$tree-flag-namesapce}o-flag--rev {
        direction: rtl; // [1]

        > .#{$tree-flag-namesapce}o-flag__img,
        > .#{$tree-flag-namesapce}o-flag__body {
            direction: ltr; // [2]
        }

        > .#{$tree-flag-namesapce}o-flag__img {
            padding-right: 0; // [3]
            padding-left: $tree-flag-gutter; // [3]
        }

    }

}





@if ($tree-enable-flag--flush == true) {

    // Modifier: `o-flag--flush`
    // =========================================================================

    // Flush flag objects have no space between the image- and text-content.

    .#{$tree-flag-namesapce}o-flag--flush {

        > .#{$tree-flag-namesapce}o-flag__img {
            padding-right: 0;
            padding-left:  0;
        }

    }

}





@if ($tree-enable-flag--top == true) {

    // Modifier: `o-flag--top`
    // =========================================================================

    // Vertically top aligned flag objects.

    .#{$tree-flag-namesapce}o-flag--top {

        > .#{$tree-flag-namesapce}o-flag__img,
        > .#{$tree-flag-namesapce}o-flag__body {
            vertical-align: top;
        }

    }

}

@if ($tree-enable-flag--bottom == true) {

    // Modifier: `o-flag--bottom`
    // =========================================================================

    // Vertically bottom aligned flag objects.

    .#{$tree-flag-namesapce}o-flag--bottom {

        > .#{$tree-flag-namesapce}o-flag__img,
        > .#{$tree-flag-namesapce}o-flag__body {
            vertical-align: bottom;
        }

    }

}




@if ($tree-enable-flag--responsive == true) {

    // Responsive flag objects.
    //
    // There is a very pragmatic, simple implementation of a responsive flag
    // object, which simply places the text-content beneath the image-content.
    //
    // We use a `max-width` media query because:
    //
    // a) it is the least verbose method in terms of amount of code required.
    // b) the flag object’s default state is image-next-to-text, so its stacked
    //    state is the exception, rather than the rule.

    @media screen and (max-width: $tree-flag-collapse-at) {

        // Modifier: `o-flag--responsive`
        // =====================================================================

        .#{$tree-flag-namesapce}o-flag--responsive {

            @if ($tree-enable-flag--rev == true) {

                // Disable reversal of content because there is no concept of
                // ‘reversed’ in a stacked layout.

                direction: ltr;
            }

            &,
            > .#{$tree-flag-namesapce}o-flag__img,
            > .#{$tree-flag-namesapce}o-flag__body {
                display: block;
            }


            // Rework the spacings on regular flag objects.

            > .#{$tree-flag-namesapce}o-flag__img {
                padding-right: 0;
                padding-left:  0;
                margin-bottom: $tree-flag-gutter;
            }

            @if ($tree-enable-flag--tiny == true) {

                // Modifier: `o-flag--tiny`
                // =============================================================

                //  Tiny responsive flags.
                //
                //  Take a little more heavy-handed approach to reworking
                //  spacings on flags that are also tiny flags in their regular
                //  state.

                &.#{$tree-flag-namesapce}o-flag--tiny {

                    > .#{$tree-flag-namesapce}o-flag__img {
                        padding-right: 0;
                        padding-left:  0;
                        margin-bottom: $tree-flag-gutter--tiny;
                    }

                }

            }

            @if ($tree-enable-flag--small == true) {

                // Modifier: `o-flag--small`
                // =============================================================

                //  Small responsive flags.
                //
                //  Take a little more heavy-handed approach to reworking
                //  spacings on flags that are also small flags in their regular
                //  state.

                &.#{$tree-flag-namesapce}o-flag--small {

                    > .#{$tree-flag-namesapce}o-flag__img {
                        padding-right: 0;
                        padding-left:  0;
                        margin-bottom: $tree-flag-gutter--small;
                    }

                }

            }

            @if ($tree-enable-flag--large == true) {

                // Modifier: `o-flag--large`
                // =============================================================

                // Large responsive flags.
                //
                // Take a little more heavy-handed approach to reworking
                // spacings on flags that are also large flags in their regular
                // state.

                &.#{$tree-flag-namesapce}o-flag--large {

                    > .#{$tree-flag-namesapce}o-flag__img {
                        padding-right: 0;
                        padding-left:  0;
                        margin-bottom: $tree-flag-gutter--large;
                    }

                }

            }

            @if ($tree-enable-flag--huge == true) {

                // Modifier: `o-flag-huge`
                // =============================================================

                // Huge responsive flags.
                //
                // Take a little more heavy-handed approach to reworking
                // spacings on flags that are also huge flags in their regular
                // state.

                &.#{$tree-flag-namesapce}o-flag--huge {

                    > .#{$tree-flag-namesapce}o-flag__img {
                        padding-right: 0;
                        padding-left:  0;
                        margin-bottom: $tree-flag-gutter--huge;
                    }

                }

            }

        }

    }

}
